<div class="container">
  <div class="row no-gutters">
    <div class="col-left">
      <menu></menu>
    </div>
    <div class="col-right">
      <current-sales></current-sales>
    </div>
  </div>
</div>