<div class="container container--receipt" *ngIf="hasResponse">
    <h1>Thank you for your purchase!</h1>

    <div class="receipt">
      <div class="receipt-heading">
        <h2 class="receipt-heading__text">Receipt Total</h2>
        <span class="receipt-heading__amount">{{ orderResponse?.amount | currency }}</span>
      </div>
      <ul class="receipt-list">
        <li class="receipt-list__item" *ngFor="let item of orderList">
          <span class="receipt-list__label">{{ item.name }}</span>
          <span class="receipt-list__price">{{ item.price | currency }}</span>
        </li>
      </ul>
      <hr>
      <div class="receipt-others">
        <span class="receipt-others__label">Subtotal</span>
        <span class="receipt-others__amount">{{ (orderResponse?.amount * 0.9) | currency }}</span>
      </div>
      <div class="receipt-others">
        <span class="receipt-others__label">GST</span>
        <span class="receipt-others__amount">{{ (orderResponse?.amount * 0.1) | currency }}</span>
      </div>
    </div>
</div>