.container--receipt {
    margin-top: 20px;
}

.receipt {
    background: #f9f9f9;
    border: 1px solid #d9d9d9;
    padding: 20px;
}

.receipt-list__item {
    margin-bottom: 15px;
}

.receipt-heading {
    display: flex;
    border-top: 2px solid #6f6f6f;
    border-bottom: 2px solid #6f6f6f;
    padding: 15px 0;
}

.receipt-heading__text {
    margin: 0;
}

.receipt-heading__text,
.receipt-heading__amount {
    font-size: 22px;
    font-weight: bold;
}

.receipt-heading__amount {
    margin-left: auto;
}

.receipt-list {
    margin-top: 30px;
}

.receipt-list__item {
    display: flex;
}

.receipt-list__price {
    margin-left: auto;
}

.receipt-others {
    margin: 10px 0;
    display: flex;
}

.receipt-others__amount {
    margin-left: auto;
}

