/* You can add global styles to this file, and also import other style files */

html {
    font-size: 10px !important;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    font-size: 1.3rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.screen-reader {
    position: absolute;
    left: -999em;
}

.container {
    max-width: 976px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    
}

.col-left {
    width: 70%;
}

.col-right {
    width: 30%;
}

.loader {
    text-align: center;
}

.loader:after {
    content: url("data:image/svg+xml;charset=utf8,<svg class='lds-spinner' width='60' height='60' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 120 120' preserveAspectRatio='xMidYMid'><g transform='rotate(0 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.9166666666666666s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(30 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.8333333333333334s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(60 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.75s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(90 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.6666666666666666s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(120 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.5833333333333334s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(150 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.5s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(180 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.4166666666666667s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(210 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.3333333333333333s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(240 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.25s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(270 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.16666666666666666s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(300 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='-0.08333333333333333s' repeatCount='indefinite'></animate> </rect></g><g transform='rotate(330 50 50)'> <rect x='47' y='24' rx='9.4' ry='4.8' width='6' height='12' fill='#93dbe9'> <animate attributeName='opacity' values='1;0' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'></animate> </rect></g></svg>");
}