<button class="image-tile" (click)="UpdateSales($event, item);">
  <span class="image-tile__content">
    <div class="image-tile__image-wrapper">
      <img class="image-tile__image" src="../{{item.src}}">
    </div>
    <span class="image-tile__text">{{ item.name }}</span>
  </span>
</button>