.image-tile {
  margin: 0.5rem;
}

.image-tile__content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 116px;
}
.image-tile__image-wrapper {
  width: 100%;
  height: 75px;
  overflow: hidden;
}

.image-tile__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.image-tile__text {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
