<div class="current-sales">
  <h2>Current Sales</h2>
  <ul class="current-sales__list">
    <li class="current-sales__list-item" *ngFor="let order of orderList">
      <span class="current-sales__item-label">{{ order.name }}</span>
      <span class="current-sales__item-amount">{{ order.price | currency }}</span>
      <button class="current-sales__delete-button" (click)="deleteOrder($event, order)">
        <i class="icon--delete"></i>
        <span class="screen-reader">del</span>
      </button>
    </li>
  </ul>

  <div class="current-sales__total">
    <span class="current-sales__total-label">Total</span>
    <span class="current-sales__total-amount">{{ total | currency }}</span>
  </div>

  <button *ngIf="!isLoading" class="current-sales__order-button" (click)="submitOrder()">
    Order
  </button>
  <div *ngIf="isLoading" class="loader"></div>
  <p *ngIf="isError && onSubmit" class="warning">Please select at least one item.</p>
</div>