.current-sales {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 0.1rem solid #DADBDD;
  padding-left: 1.6rem;
}

.current-sales__list {
    margin-top: 1rem;
}

.current-sales__list-item {
  display: flex;
  margin-bottom: 1rem;
}

.current-sales__item-amount {
  margin-left: auto;
}

.current-sales__gst {
  display: flex;
}

.current-sales__gst-amount {
  margin-left: auto;
}

.current-sales__total {
  margin-top: auto;
  display: flex;
  background-color: #2997CC;
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 1.6rem;
}

.current-sales__total-amount {
    margin-left: auto;
}

.current-sales__order-button {
    margin-top: 1rem;
    background-color: #FF813F;
    color: #fff;
    padding: .5rem;
    
}

.current-sales__delete-button {
  font-size: 0.1rem;
  margin-left: 10px;
}

.current-sales__delete-button i {
  display: inline-block;
  font-size: 0.1rem;
}

.icon--delete:after {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E %3Cg transform='rotate(45,8,8)' fill='none' fill-rule='evenodd' %3E%3Cpath fill='%23333' d='M8.8,7.2 L15.2,7.2 C15.6418278,7.2 16,7.5581722 16,8 C16,8.4418278 15.6418278,8.8 15.2,8.8 L8.8,8.8 L8.8,15.2 C8.8,15.6418278 8.4418278,16 8,16 C7.5581722,16 7.2,15.6418278 7.2,15.2 L7.2,8.8 L0.8,8.8 C0.3581722,8.8 5.41083001e-17,8.4418278 0,8 C-5.41083001e-17,7.5581722 0.3581722,7.2 0.8,7.2 L7.2,7.2 L7.2,0.8 C7.2,0.3581722 7.5581722,8.11624501e-17 8,0 C8.4418278,-8.11624501e-17 8.8,0.3581722 8.8,0.8 L8.8,7.2 Z'/%3E%3C/g%3E%3C/svg%3E");
}